name: CD

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-24.04-arm 
    container:
      image: ghcr.io/wp732/citool:latest
      options: --user root
      env:
        HOME: /home/user
        POETRY_VIRTUALENVS_PATH: /home/user/.cache/pypoetry/virtualenvs
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    permissions:
      contents: write   # needed to upload release assets
      id-token: write   # needed for cosign keyless signing
      packages: read    # needed to pull container from ghcr.io

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Mark repo as safe # workaround for poetry dymanic version check error
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Prep Poetry
        run: poetry add -D ./packages/wp732-rekor-tools

      - name: Get package version from script # need this later for GH attest step
        id: get_package_version
        run: |
          echo "version=$(./bin/get_package_version.sh)" >> $GITHUB_OUTPUT

      - name: Build
        run: bin/build.sh

## This was attempt to reuse the script I previously created to do cosign attest-blob,
## however, it did not have ability to update the GitHub /attestations page. 
#      - name: Install Cosign
#        uses: sigstore/cosign-installer@v4.0.0
#        with:
#          cosign-release: 'v3.0.2'
#
#      - name: Cosign attest of whl with embedded SBOM
#        run: bin/whl_create_attest.sh < /dev/null # null to stdin disables prompt barrier
#        env:
#          GITHUB_ACTIONS: "true"  # needed to disable cosign interactive mode

      - name: Attest SBOM
        id: attestsbom
        uses: actions/attest-sbom@v3
        with:
          subject-path: packages/wp732-rekor-tools/dist/wp732_rekor_tools-${{ steps.get_package_version.outputs.version }}-py3-none-any.whl
          sbom-path: packages/wp732-rekor-tools/dist/cyclonedx-sbom.json
          github-token: ${{ secrets.GH_PAT }}

      - name: Save attestation bundle
        run: |
          cp "${{ steps.attestsbom.outputs.bundle-path }}" /home/user/attestation.json || echo "bundle-path not found"

## This was what I tried to use before realizing that attest-sbom action was the proper
## action to be used for assignment 5
#      - name: Attest whl build provenance to GitHub Attestations
#        uses: actions/attest-build-provenance@v3
#        with:
#          subject-path: packages/wp732-rekor-tools/dist/wp732_rekor_tools-${{ steps.get_package_version.outputs.version }}-py3-none-any.whl
#          github-token: ${{ secrets.GH_PAT }}

      - name: Create or update release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            packages/wp732-rekor-tools/dist/*.whl
            packages/wp732-rekor-tools/dist/*.tar.gz
            packages/wp732-rekor-tools/dist/cyclonedx-sbom.json
            /home/user/attestation.json
## If I was using my whl_create_attest.sh script instead of attest-sbom action
## this would have been the bundle to include in release assets instead of
## /home/user/attestation.json which attest-sbom action produces: 
#            packages/wp732-rekor-tools/dist/sbom-attestation.bundle
